.list{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35vh;
    height: 4vh ;
    border-radius: 14px;
    font:18px;
    background: linear-gradient(145deg, #485157, #3c4449);
    box-shadow:  5px 5px 10px #222629, -5px -5px 10px #65727a;
    margin: 10px;
    border-radius: 2px;
    color: white;
}

.delete{
    height: 25px;
    width: 30px;
    color: white;
    border-radius: 14px;
    background: linear-gradient(145deg, #485157, #3c4449);
    box-shadow:  5px 5px 10px #222629, -5px -5px 10px #65727a;
    font-weight: bolder;
    position: fixed;
    left: 62.55%;
    border: none;
}

.delete:focus{
    outline: none;
}


.delete:active{
     box-shadow: inset 5px 5px 10px #222629, inset -5px -5px 10px #65727a;
}