.list{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35vh;
    height: 4vh ;
    background-color: rgb(43, 41, 53);
    margin: 10px;
    border-radius: 2px;
    color: white;
}

.delete{
    background-color: rgba(0,0,0,0.1);
    color: white;
    border-color:rgba(0,0,0,0.1);
    font-weight: bolder;
    position: absolute;
    left: 80%;
}