body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #008B8B;
}

button{
  background-color: orangered;
  border-radius: 5px;
  padding: 5px;
  font-size: larger;
  margin-right: 20px;
}

button:active{
  background-color: rgb(255, 0, 0);
}